################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs.bak
/ExchangeApi/obj
/ExchangeApi/bin
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.deps.json
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.dll
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.exe
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.pdb
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.runtimeconfig.dev.json
/ExchangeApi/bin/Debug/net5.0/ExchangeApi.runtimeconfig.json
/ExchangeApi/bin/Debug/net5.0/LazyCache.AspNetCore.dll
/ExchangeApi/bin/Debug/net5.0/LazyCache.dll
/ExchangeApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
/ExchangeApi/bin/Debug/net5.0/Newtonsoft.Json.dll
/ExchangeApi/bin/Debug/net5.0/RestSharp.dll
/ExchangeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/ExchangeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ExchangeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/ExchangeApi/bin/Debug/net5.0/appsettings.Development.json
/ExchangeApi/bin/Debug/net5.0/appsettings.json
/ExchangeApi/bin/Debug/net5.0/ref/ExchangeApi.dll
/ExchangeApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.AssemblyInfo.cs
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.AssemblyInfoInputs.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.GeneratedMSBuildEditorConfig.editorconfig
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.MvcApplicationPartsAssemblyInfo.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.MvcApplicationPartsAssemblyInfo.cs
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.RazorTargetAssemblyInfo.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.assets.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.csproj.CopyComplete
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.csproj.CoreCompileInputs.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.csproj.FileListAbsolute.txt
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.csprojAssemblyReference.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.dll
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.genruntimeconfig.cache
/ExchangeApi/obj/Debug/net5.0/ExchangeApi.pdb
/ExchangeApi/obj/Debug/net5.0/apphost.exe
/ExchangeApi/obj/Debug/net5.0/ref/ExchangeApi.dll
/ExchangeApi/obj/Debug/net5.0/staticwebassets/ExchangeApi.StaticWebAssets.Manifest.cache
/ExchangeApi/obj/Debug/net5.0/staticwebassets/ExchangeApi.StaticWebAssets.xml
/ExchangeApi/obj/ExchangeApi.csproj.nuget.dgspec.json
/ExchangeApi/obj/ExchangeApi.csproj.nuget.g.props
/ExchangeApi/obj/ExchangeApi.csproj.nuget.g.targets
/ExchangeApi/obj/project.assets.json
/ExchangeApi/obj/project.nuget.cache
/ExchangeApi/obj/project.packagespec.json
/ExchangeApi/obj/rider.project.restore.info

/.idea
